<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577787445598-2rhi4i79qehhkug3cc7r54sct0f51p2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577787445598-2rhi4i79qehhkug3cc7r54sct0f51p2m</string>
	<key>API_KEY</key>
	<string>AIzaSyC3AJ6GvQMBXod3z0yqT8-rX9smdsnTpz8</string>
	<key>GCM_SENDER_ID</key>
	<string>577787445598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nanirecruitment</string>
	<key>PROJECT_ID</key>
	<string>nani-514ec</string>
	<key>STORAGE_BUCKET</key>
	<string>nani-514ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577787445598:ios:d0ec05cb32011212140fcf</string>
</dict>
</plist>